.blog{
    /* display: none; */

}
.blog{
    border: 50px solid purple;
    border-top: 0px ;
    margin: 10%;
    padding: 10%;
    border-top: none;
    border-radius: 50px;
    
}
#manos{
    display: inline;
    /* display: none; */
    display: block;
}
.header{
    height: 1000px;
    background-color:aqua;
    background-image: url(img/Screenshot\ 2025-10-23\ 224847.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size:cover;
}
.div{
    border: 3px solid black;
    margin: 30px;
    padding: 10px;
    background-color:aqua;
    color: black;
    box-shadow: 15px 20px 5px gray;
}